*
{
    box-sizing: border-box;
}
body
{
    margin: 0px;
    padding: 0px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgba(41, 40, 40, 0.842); 
    /* background-image:linear-gradient(315deg,#ffa20075,#ffffff,#094b0e75); */
    /* background: #ffa200; */
}
html
{
    min-height:100vh;
    scroll-behavior:smooth;
}
a{
    text-decoration:none;
    cursor: pointer;
}
a:focus-within
{
    color: #ff0000;
    font-weight:400;
}
#header-principal
{
    display: flex;
    justify-content:space-between;
    align-items:center;
    /* gap:7rem; */
    width:100%;
    height:100px;
    background: #ffffff;
    position: fixed;
    top:0px;
    left:0px;
    z-index:900;
}
.logo
{
    margin-left: 8%;
}
.logo img
{
    width:100px;
    height:100px;
    margin-top:5px;
}
ul
{
    list-style:none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1.8rem;
    
    
}
ul li a:hover
{
    opacity: 0.8;
    transition: all .5s;
}
ul li a
{
    color: #36b64f;
    font-size:15px;
    padding-bottom:10px;
    position: relative;
}
ul li a::after
{
    content: " ";
    width:0%;
    height:4px;
    border-radius:1px;
    background:#36b64f;
    opacity: 0.5;
    position: absolute;
    bottom:0;
    left:0;
    transition: all .6s ease-in-out;
}
ul li a:hover::after
{
    width:100%;
}
/*editando botao menu_principal*/
.botao
{
    text-align:center;
    font-size:15px; 
    margin-right:-15px;   
}
.botao a:hover::after
{
    display:none;
    width:0%;
}
.botao a
{
    background:#36b64f;
    color:#ffff;
    padding:10px 20px;
    border-radius:5px;
    text-align: center;
}
.botao a:hover
{
    color: #36b64f;
    background: #fff;
    outline:1px solid #36b64f;
    animation:  shake 2s ease-in-out ;
}
/* editando a sessao de pesquisa */
.pesquisar
{
    height:35px;
    background-color:rgb(235, 232, 232);
    outline: #36b64f 1px solid;
    margin:0px ;
    position:relative;
    left:0;
    bottom:0;
    right:0;
    width:280px;
    border-radius:25px;
    top:0px;
    padding:5px;
}
.pesquisar label> img 
{
    position: absolute;
    right:15px;
    top:6px;
    width:23px;
    height:23px;
    cursor: pointer;
}
#pesq
{
    border-radius:25px;
    position: absolute;
    top: 0px;
    left:0px;
    border: none;
    outline:none;
    background-color:rgb(235, 232, 232);
    width:240px;
    padding:0px 10px;
    height:35px;
    cursor:pointer;
}
.conta
{
    margin-left:-15px;
    margin-top:5px;
    display: inline-block;
    position: relative;
}
.dropdown
{
    display:none;
    position:absolute;
    top:35px;
    background:#36b64f;    
    width:108px;
    padding:1px 1px;
    border-radius:4px;
}
.dropdown >a:hover
{
    border-radius:3px;
    background: #fff;
    color:#36b64f;
    transition: all 0.4s;
}
.dropdown >a
{
    display:block;
    color:#ffffff;
    background:#36b64f;
    text-align:left;
    padding:10px 0px 10px 5px ;
}
.conta:focus-within .dropdown
{
    display: block;
    animation:bouncedireito 5s  ease-in-out;
}

 .conta img
{
    border-radius:50%;
} 
.conta img:hover
{
    outline: 3px solid rgba(233, 229, 229, 0.685);
    transition: all 0.4s;
}
/* efito sacola */
.sacola
{
    /* margin-right:15px;  */
    background-color:rgb(235, 232, 232);
    display: inline-block;
    display:flex;
    align-items: center;
    justify-content:center;
    border-radius:8px;
    padding:1px 2px;
    margin-right:8%;
    margin-left:-15px;
}
.dropdow-sacola
{
    display: none;
    right:20px;
    top:65px;
    background: #ffffff;
    position: absolute;
    border-top:5px ridge #36b64f;
    outline: 1px solid #36b64f;
    width:260px;
    /* background: #ffffff; */
    box-shadow: 0px 4px 8px 0px rgba(230, 248, 226, 0.877), 0 6px 20px 0px rgba(228, 247, 228, 0.897) ;
    border-radius:0px 0px 5px 5px;
}
.dropdow-sacola > .cart-principal
{
    padding:2px 5px 2px 10px;
    display: flex;
    align-items: center;
    gap:25px;
    border-bottom: 1px solid #36b64f;
}
.cart-principal >img
{
    width:50px;
    height:50px;
    border-radius: 50%;
}
.alinhar-preco >p
{
    font-size:14px;
    color:rgba(41, 40, 40, 0.842);
}
.alinhar-preco p >span
{
    color: #36b64f;
    font-weight: 700;
}
.dropdow-sacola >.cart-finaliza
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:10px;
    margin-right:10px;
}
.cart-finaliza p>span
{
    color: #36b64f;
    font-weight: 700;
}
.cart-finaliza >a
{
    background:#36b64f;
    color: #ffffff;
    font-size:14px;
    padding: 10px 20px;
    border-radius: 3px;
}
.cart-finaliza >a:hover
{
    background: #fff;
    color: #36b64f;
    outline: #36b64f 1px solid;
    transition: all .4s;
}
.sacola:hover .dropdow-sacola
{
    /* background-color:rgb(235, 232, 232); */
    display: block;
    /* border-bottom: 2px solid #ffa200; */
    transition: all 2s;
}
/*conteudo principal*/
/* tornando menu fixo */
main{
    /* background-image:linear-gradient(315deg,#ffa20075,#ffffff,#094b0e75); */
    /* background-color:rgb(240, 235, 223); */
    background-color: #f6fff1fa;
    margin-top:102px;
    padding-bottom: 40px;
}
/* editando o titulo das páginas */
.titulo
{
    background-color: #f6fff1fa;
    padding-top:50px;
    display: flex;
    align-items:center;
    flex-direction:column;
}
.titulo > p
{
    margin-bottom:5px;
    margin-top:0px;
    padding:0px;
}
.linha-t
{
    width:200px;
    height:5px;
    background: #36b64f;
    margin-bottom:20px;
    margin-top:0px;
    box-shadow: 0px 2px 2px  #67db7e;
    border-radius:5px;
}
.titulo>h3
{
    margin-top:2px;
    font-size:35px;
    color: #36b64f;
}
/* editando a pagina de produtos */
#categ 
{
    padding:3px;
    background: #cccccc;
    /* background-color:rgb(235, 232, 232); */
    position:fixed;
    left:15px;
    top:110px;
    width:215px;
    height:540px;
    border-radius:5px;
}
#categ h3
{
    color:#fff;
    font-size:30px;
    text-align:center;
    font-weight:500;
    margin-bottom:10px;
    margin-top:0px;
    padding:10px;
    background: #36b64f;
    border-radius:5px;
}
#categ >.cont-categ
{
    border-bottom:1px dashed rgba(172, 169, 169, 0.767);
    padding-block:1rem;
    margin-block:10px;
    display:flex;
    gap:5px;
    background: #fff;
    border-radius:5px;
}
#categ >.cont-categ:hover ,#categ >.cont-categ:focus
{
    background: #cccccc;
    transition:all 0.4s;
}
.cont-categ> a
{
    color: #36b64f;
    padding:0px;
    font-size:19px;
}

#categ a:hover
{
    cursor: pointer;
    color:forestgreen;
}
.fundo-titulo
{
    background: #f6fff1fa;
    display:flex;
    align-items:center;
    justify-content:center;
    width:85%;
    margin-left:15%;
}
.fundo-titulo >h1
{
    font-size:40px;
    font-weight:600;
    color: #36b64f;
    margin-bottom: 0px;
}
.pagina-pro
{
    height:450px;
    width:85%;
    margin-left:15%;
    /* background: #ffa200; */
    display: flex;
    align-items:center;
    justify-content: center;
    gap:12px;
    margin-top:0px;
}
.card
{
    width: 200px;
    /* height:360px; */
    background: #ffffff;
    /* box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0px rgba(0, 0, 0, 0.2) ; */
    border-radius:5px;
    position: relative;
}
 
.card .efeito-promo
{
    background:#36b64f;
    color: #ffffff;
    font-weight: 600;
    font-size:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius:0px 8px;
    top:0px;
    right:0px;
    width:55px;
    padding: 5px 0px;
}
.card .efeito-promo::before
{
    content: "-";
}
.card >h4
{
    margin:0px 5px;
    font-weight:500;
}
.card >h3
{
    margin-bottom:5px;
    font-weight:600;
    font-size:18px;
    color:#36b64f;
    margin-left:5px;
    margin-top:0px;
}
.card a >.btn-carr
{
    margin:0px auto 5px auto;
    background: #36b64f;
    width:185px;
    height:45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:5px;
    gap: 10px;
}
.btn-carr >.letra-btn
{
    color: #ffffff;
}


/* Editando a pagina descrição dos produtos */
.bag-quemal
{
    display:flex;
    align-items:center;
    justify-content:center;
}
.setion-descr-principal
{
    width:60%;
    height:400px;
    margin-top:50px;
    padding:5px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:90px;
}
.setion-imag
{
    display: flex;
    flex-direction:column;
    gap:15px;
    flex:40%;
}
.img-descr
{
    height:300px;
    background: #67db7e;
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-descr >img
{
    width:250px;
    height:250px;
}
.img-pequena
{
    display: flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    height:70px;
    border-radius:10px;
}
.img-pequena>.peq-img-2
{
    display: flex;
    align-items:center;
    justify-content:center;
    width:65px;
    border-radius: 5px;
    background:#c1c1c1;
    height: 100%;
}
.img-pequena>.peq-img-2:first-child
{
    outline:2px solid #67db7e;
    background: #e1e1e1;
    opacity: 0.75;
}
.img-pequena>.peq-img-2:hover
{
    outline:2px solid #67db7e;
    background: #e1e1e1;
    opacity: 0.75;
    cursor: pointer; 
}
/* parte da descrição */
.setion-descr
{
    flex:60%;
}
.setion-descr >h4
{
    margin:0px;
    color: #36b64f;
    font-weight: 600;
}
.setion-descr >h2
{
    font-size: 30px;
    margin:0px;
}
.setion-descr >p
{
    font-size:14px;
    margin-top:20px;
    text-align:justify;
}
.preco-descr
{
    position: relative;
    width:160px;
}
.preco-descr>h3
{
    margin:0px;
    font-size:28px;
    font-weight:600;
}
.valor-percentual
{
    position: absolute;
    top:9px;
    right:10px;
    font-weight:500;
    font-size:16px;
    padding-inline:6px;
    padding-block:1px;
    border-radius:3px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background:#36b64f;
}
.preco-descr>.prec-riscado
{
    font-weight:500;
    font-size:15px;
    color: #cccccc;
    text-decoration: line-through;
    margin: 0px;
}
.input-adicionar
{
    margin-top:10px;
    display: flex;
    align-items: center;
    gap:40px;
}
.btn-ad-descr
{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10px;
    padding:8px 40px;
    background: #36b64f;
    color: #fff;
    border-radius: 5px;
}
.input-adicionar> #iquant
{
    outline: none;
    border: none;
    padding: 10px;
    font-size:18px;
    border-radius:5px;
    background: #a19a9a86;
    width:18%;
    color: #000;
}
#iquant:focus-visible
{
    outline:2px solid #36b64f;
}
/* editando a sessão do modal surgir informção */
.modal-cont
{
    position:fixed;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.5);
    width:100vw;
    height:100vh;
    z-index:1500;
    display: none;
    animation: fadeIn .5s ease-in-out;
}
.modal-cont:target
{
    display: block;
}
.cont-info
{
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%) ;
    background: #fff;
    width:280px;
    padding:0px 10px;
    z-index:600;
    border-radius:5px;
    border-top:10px solid #36b64f;
}
.informacao-modal
{
    animation:subindo .5s ease-in-out;
    display:flex;
    flex-direction:column;
}
.informacao-modal p
{
    padding:5px;
    margin:0;
    text-align:center;
    font-size:19px;
}
.informacao-modal>a
{
    padding: 8px 10px;
    color: #fff;
    text-align: center;
    background: #36b64f;
    border-radius:3px;
    transition: all .2s;
    margin-bottom:8px;
}
.informacao-modal >a:hover
{
    background: #fff;
    color: #36b64f;
    outline: 1px solid #36b64f;
}
/* session 2  modal com dois botao*/
.informacao-modal>div
{
    display: flex;
    justify-content:space-around;
    gap:10px;
}
.informacao-modal>div a
{
padding: 8px 20px;
color: #fff;
text-align: center;
background: #36b64f;
border-radius:3px;
transition: all .2s;
margin-bottom:8px;
flex:40%;
}
.informacao-modal>div a:hover
{
background: #fff;
color: #36b64f;
outline: 1px solid #36b64f;
}
/* editado o modal maior de confirmação */
.cont-info-2
{
    position:absolute;
    top:20%;
    left:50%;
    transform:translate(-50%) ;
    background: #fff;
    width:650px;
    z-index:1500;
    border-radius:5px;
}
.fexar
{
    position: absolute;
    z-index: 1900;
    top:50px;
    right:90px;
    font-size:30px;
    padding:5px 10px;
    color:#ff0000ce;
}
.fexar:hover
{
    background:rgba(0, 0, 0, 0.5);
}
.informacao-modal-2
{
    animation:subindo .5s ease-in-out;
    display:flex;
    align-items: flex-start;
    flex-direction:column;
    padding:2px;
}
.informacao-modal-2>h2
{
    border-radius: 5px 5px 0px 0px;
    margin:0;
    color: #fff;
    background: #36b64f;
    padding:10px;
    width:100%;
    font-size:40px;
}
.informacao-modal-2 >p
{
    padding-inline:10px;
    margin:5px 0px;
}
.informacao-modal-2> .modal-cor
{
    margin:0px;
    padding-left:10px;
    font-size:20px;
    color: #67db7e;
}
.informacao-modal-2> span
{
    font-weight: bold;
    padding-left:10px;
    margin-bottom: 5px;
}
.informacao-modal-2 >div
{
    width:95%;
    display: flex;
    align-items: flex-end;
    justify-content:flex-end;

}
.informacao-modal-2 >div a
{
    padding:10px 50px;
    color: #fff;
    text-align: center;
    background: #36b64f;
    border-radius:3px;
    transition: all .2s;
    margin-bottom:8px;
    margin-left: 10px;
}.informacao-modal-2 >div a:hover
{
    background: #fff;
    color: #36b64f;
    outline: 1px solid #36b64f;
}
/* editando a pagina serviços */
.fundo-serv
{
    background-image: url("../imagens/fundoserv.jpg");
    background-size: cover;
    background-position:bottom;
    background-attachment: fixed;
    min-height:1000px;
}
.circulo
{
    background: #ffffff;
    background-image: url("../imagens/logo2.jpg");
    width:100px;
    height:100px;
    border-radius:50%;
    position: absolute;
    left:280px ;
    top:360px;
}
.pagina-serv
{
    /* background:#36b64f; */
    margin:0 0 0 auto;
    width:92%;
    height:470px;
    background: #ffffff;
    background-image: url("../imagens/logo2.jpg");
    border-radius:5px 0px 0px 5px;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    gap:20px;
    position: absolute;
    bottom: 0;
    right: 0;
    top:640px;
}
.card-serv
{
    background:#ffffff;
    /* background-image:linear-gradient(315deg,#ffa20075,#ffffff,#094b0e75); */
    width:350px;
    height:480px ;
    border-radius:5px;
    /* box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0px rgba(0, 0, 0, 0.2) ; */
    position: relative;
    top:-140px;
}
.card-serv .img
{
    /* background: #f1a623; */
    max-width:350px;
    overflow: hidden;
    min-width:350px;
    width:100%;
    height:245px;
    border-radius:5px;
}
#img-1
{
    transition: all 0.3s;
    /* box-sizing: border-box; */
    max-width:100%;
    height:100%;
    background-image: url("../imagens/combo2.jpg");
    background-size: cover;
    background-position:center;
}
#img-2
{
    transition: all 0.3s;
    /* box-sizing: border-box; */
    max-width:100%;
    height:100%;
    background-image: url("../imagens/massagem2.jpg");
    background-size: cover;
    background-position:center;
}
#img-3
{
    transition: all 0.3s;
    /* box-sizing: border-box; */
    max-width:100%;
    height:100%;
    background-image: url("../imagens/lipaface.jpg");
    background-size:cover;
    background-position:center;
}
.img:hover #img-1
{

    transform:rotate(-5deg) scale(1.3) ;
}
.img:hover #img-2
{

    transform:rotate(-5deg) scale(1.3) ;
}
.img:hover #img-3
{

    transform:rotate(-5deg) scale(1.3) ;
}
.card-serv h3
{
    padding:0px;
    margin:8px 6px;
    color: #36b64f;
    font-size:25px;
    font-weight: 500;
}
.card-serv h4
{
    font-weight:400;
    font-size:15px;
    text-align:center;
    padding:4px 5px;
    margin:8px 6px;
    color: #fff;
    background: #36b64f;
    display: inline-block;
    border-radius:25px;
    top: clear;
}
.card-serv span
{
    color: #36b64f;
    font-size: 18px;
    float: right;
    margin-right:6px;
    font-weight: 500;
}
.card-serv p
{
    text-align: left;
    padding:0px ;
    margin:5px 5px 30px 5px;
    font-size: 14px;
}
.card-serv a
{
    margin-left:5px;
    padding:10px 20px;
    background:#36b64f;
    color:#ffffff;
    text-transform:capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}
.card-serv a:hover{
    background-color:#fff;
    color:#36b64f;
    outline: 1px solid #36b64f;
    transition: all .5s;
}

/* Editando a pagina sobre nós */
.pagina-sob
{
    height:500px;
    display:flex;
    align-items: center;
    justify-content:center;
}
.sess2
{
    display: flex;
    align-items: center;
    justify-content:center;
    gap:5px;
    height:450px;
    /* width:1190px; */
    background-color: #fff;
    margin-right:8%;
    margin-left:8%;
    /* background-image: linear-gradient(#fc900b, #cc7b189d); */
}
/* editando a sessa imagem do sobre nós */
.sess2 .imag-sess2
{
    /* border: 1px solid gray; */
    background:#36b64f;
    /* opacity:0.8; */
    background-image: url("../imagens/sobre-nos.png");
    min-height:100%;
    background-position:top;
    background-size: cover;
    flex:44%;
    clip-path:polygon(0% 0%,100% 0%, 90% 100%,0% 100%);
}
/* editando  a sessao texto do sobre nos */
.texto-sobre
{
    /* border: 1px solid gray; */
    flex:40%; 
    min-height:50vh;
}
#linha
{
    border-bottom:5px solid #36b64f;
    margin:25px 25px 25px 0;
    width:28%;
    box-shadow: 0px 2px 2px  #67db7e;
    border-radius: 5px;
}
.texto-sobre h1
{
    letter-spacing:2px;
    font-size:40px;
    font-weight:600;
    font-family:cursive; 
    color: #36b64f; 
    margin:0px; 
    padding:0px;
}
.texto-sobre h3
{
    font-weight:400;
    font-size:18px;
    color:gray;
    padding:0px;
    margin:5px 0px 0px 0px;
}
.texto-sobre p
{
    padding:0px;
    font-size:15px;
    text-align:left;
    color:gray;
    margin-bottom:25px;
}
.btn
{
    padding:10px 20px;
    background:#36b64f;
    color:#ffffff;
    text-transform:capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius:5px;
}
.btn:hover{
    background-color:#fff;
    color:#36b64f;
    outline: 1px solid #36b64f;
    transition: all .5s;
}

/* editando a sessão 2 bem-vido */
.cont-bev
{
    margin-left:auto;
    margin-right:auto;
    padding:5px; 
    /* background: chocolate; */
    width:80%;
}

.bv-two2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top:15px;
    /* background: #36b64f; */
}
.bv-loja2
{
    width:240px;
    background: #ffffff;
    border-radius: 5px;
    color:rgba(41, 40, 40, 0.842);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0px rgba(0, 0, 0, 0.2) ;
    display: flex;
    align-items:center;
    flex-direction: column;
    padding-top:8px;
    padding-bottom:20px;
    transition: all 0.4s ease;
}
.bv-loja2:hover{
    transform: scale(1.1);
}
.bv-loja2 >h5
{
    font-weight:500;
    font-size:18px;
    margin-bottom:8px;
    margin-top:8px;
}
.bv-loja2 >p
{
    margin-top:0px;
    margin-bottom:0px;
    padding-bottom:0px;
    font-size:13px;
}
.galeria
{
   margin-inline: 8%;
   /* background: #36b64f;  */
   column-count:3;
   column-gap:5px;
}
.fotos
{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    margin-bottom: 5px;
}
.fotos>img
{
    width:100%;
    margin:0px;
    /* height:170px; */
}
.sub-gal
{
    background:#fff;
    width: 100%;
    padding: 10px;
    position: relative;
}
.sub-gal>h4
{
    margin:2px;
    font-size:20px;
    color: #36b64f;
}
.sub-gal>span
{
    font-weight:500;
    font-size:14px;
    color: #000;
}
.sub-gal> img
{
    position: absolute;
    top:25%;
    right:10px;
    transform: rotate(-50deg);
}
#verd
{
    background: #36b64f;
}
#verd>h4
{
    color: #fff;
}
/* editando pagina contacto */
.fundo-cont
{
    min-height:700px;
    /* background:#ffa200; */
    position: relative;
}
.fund-1
{
    background:#e3f7d8fa;
    padding-left:30px;
    padding-top:180px;
    padding-bottom:50px;
}
.fund-1 >h5
{
    font-size:23px;
    font-weight:500;
    padding:0px;
    margin:0px;
}
.fund-1 >h4
{
    font-weight: 700;
    font-size: 30px;
    padding:0px;
    margin:0px;
}
.fund-2
{
    background: #ffffff;
    height: 360px;
}
.fund-card-1
{
    /* background: #67db7e; */
    display:flex;
    align-items: center;
    gap:16.2rem;
    margin-left:30px;
}
.fund-card-2
{
    margin-top: 50px;
    margin-left:30px;
    /* background:#ffa200; */
    display:flex;
    align-items: center;
    gap:20.7rem;
}
.card-cont
{
    /* background: #ffffff; */
    display: flex;
    align-items:center;
    justify-content:center;
    gap:10px;
}
.card-cont div
{
    margin-top:10px;
}
.card-cont h3
{
    margin-bottom:5px;
}
.card-input
{
    background:#ffffff;
    padding:50px;
    position: absolute;
    top:50px;
    right:50px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(230, 248, 226, 0.877), 0 6px 20px 0px rgba(228, 247, 228, 0.897) ;
}
.card-input p
{
    margin-bottom:5px;
    color: black;
}
form .input
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:100%;
    font-size:16px;
    padding:10px 0px 15px 0px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(238, 230, 230);
}
form .input:focus-visible
{
    border-bottom: 1px solid #36b64f;
    transition: all .5s;
}
#bt-cont
{
    margin-top:20px;
    font-size: 16px;
    background:#36b64f;
    padding: 15px 20px;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
}
#bt-cont:hover
{
    color: #36b64f;
    outline: 1px solid #36b64f;
    background: #fff;
    transition: all 1s;
    cursor: pointer;
}
/* editando a pagina cadastro e login */
.pag-cadast
{
    display: flex;
    align-items: center;
    justify-content: center;
    background:#f6fff1fa;
    position:relative;
    z-index:400;
    margin:0px;
}
.card-cadast
{
    text-align:center;
    margin-top:0px;
    margin-bottom:100px;
    padding:40px;
    width:800px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 4px 8px 0px rgba(230, 248, 226, 0.877), 0 6px 20px 0px rgba(228, 247, 228, 0.897) ;
}
.card-2-cadast form 
{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.card-2-cadast form .separado
{
    flex:50%;
}
.card-2-cadast form .input
{
    display:block;
    width:100%;
    font-size:17px;
    margin-bottom:20px;
    background:rgb(255, 252, 252) ;
    padding-left: 10px;
    border: 1px solid  rgb(238, 230, 230);
    border-radius:5px;
    outline: none;
}
.card-2-cadast form .separado> fieldset 
{
    text-align:left;
    color: #36b64f;
    border-color: #36b64f;
    border-radius: 3px;
}
#radio
{
    text-align: left;
    color: #36b64f;
}
.card-2-cadast form .input:focus-visible
{
    border: 1px solid #36b64f;
    transition: all .5s;
}
.card-2-cadast p a:link
{
    color: #36b64f;
}
.card-2-cadast p a:visited
{
    color: #36b64f;
}
.card-2-cadast h5
{
    font-weight: 500;
}
#btn-cadast
{
    width:50%;
    text-align: center;
    font-size: 17px;
    border: none;
    outline: none;
    background: #36b64f;
    padding-top:15px;
    padding-bottom:15px;
    color: #ffffff;
    border-radius:5px;
    cursor: pointer;
}
#btn-cadast:hover
{
    color: #36b64f;
    background: #fff;
    outline: 1px solid #36b64f;
    transition: all .5s;
}
/* Editando a pagina do perfil */
.perfil-principal
{
    background: #f6fff1fa;
    width:100%;
    height:86.3vh;
}
.btn-perfil
{
    background: #36b64f;
    position: absolute;
    right:60px;
    top:30px;
    border-radius:5px;
    color:#fff;
    padding: 10px 20px;
}
.btn-perfil:hover
{
    background: #fff;
    color: #36b64f;
    outline: 1px solid #36b64f;
    transition: all 0.4s;
}
.conteiner-perfil
{
    position: absolute;
    top:10%;
    left:50%;
    transform:translate(-50%);
    padding:10px;
    /* background: coral; */
}
/* editando perfil session 2 */
.conteiner-perfil-2
{
    padding-bottom: 5px;
    background: #fff;
    width:500px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px 0px rgba(230, 248, 226, 0.877), 0 2px 10px 0px rgba(228, 247, 228, 0.897) ;
}
.cont-perfil
{
    border-radius:5px;
    width:100%;
    height:100%;
}
.cont-perfil a
{
    color: #67db7e;
}
.cont-perfil:hover
{
    background: #e1e1e1;
}
.cont-perfil-1
{
    border-bottom: 1px dashed #36b64f;
    margin-inline:10px;
    display: flex;
    align-items:center;
    justify-items:center;
    gap:10px;
    padding: 5px;
}
/* editando sessao dados pessoais */
.informacao-modal-2 >table th
{
    color: #36b64f;
    border:1px solid #cccccc;
}
.informacao-modal-2 >table td
{
    border: 1px solid #cccccc;
    text-align: center;
}
.informacao-modal-2 >table
{
    margin:10px auto;
    width: 80%;
    border: 1px solid #36b64f;
}

/* Editando a sessao de compras */
.perfil-principal-compra
{
    background: #f6fff1fa;
    width:100%;
    height:93vh;
}
.conteiner-perfil-compra
{
    box-shadow: 0px 2px 6px 0px rgba(230, 248, 226, 0.877), 0 2px 10px 0px rgba(228, 247, 228, 0.897) ;
    background: #fff;
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-50%);
    width:50%;
    height: 500px;
    display:flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}
.conteiner-perfil-compra >h1
{
    background: #36b64f;
    color: #fff;
    font-size:35px;
    width: 100%;
    margin:0%;
    padding:5px 10px ;
}
.perfil-compra
{
    /* background: chocolate; */
    display: flex ;
    align-items: center;
    gap:10px;
    width:100%;
    border-bottom:1px solid #36b64f;
    margin: 0px;
    padding-block: 10px;
}
.perfil-compra img
{
    margin:0;
}
.perfil-compra p
{
    margin: 0;
    font-size:30px;
    color: #36b64f;
}

.compra-conteiner
{
    /* background: cornflowerblue; */
    overflow-y: scroll;
    padding:0px 15px;
    margin-bottom:5px;
}

.data-pedido
{
    display: flex;
    align-items: center;
    background: #36b64f;
    padding:10px;
    border-radius:5px;
    margin-top:10px;
    margin-inline: auto;
    font-size:20px;
    gap:5px;
    position: relative;
    width:90%;
}
.data-pedido img
{
    position:absolute;
    top:30%;
    right:5px;
    width:25px;
}
.data-pedido>address
{
    color: #fff;
    letter-spacing:4px;
    margin-left:5px;
}
.data-pedido>b
{
    letter-spacing:3px;
}
.compra-conteiner>table
{
    border:none;
    outline: 1px solid #cccccc;
    background: #cccccc;
    width:90%;
    margin-top: 5px;
    margin-inline:auto;
    padding:5px;
    border-radius: 3px;
}
.compra-conteiner>table th
{
    padding-left: 0px;
    margin-left: 0px;
    text-align: left;
    border: none;
    border-bottom:1px solid #fff;
}
.compra-conteiner>table td
{
    border: none;
    padding-block:7px;
}
/* editando alteração de senha */
    form > .input-senha
    {
        width:90%;
        padding:10px 10px;
        display:block;
        border: none;
        border-radius:5px;
        outline:1px solid #c1c1c1;
        margin-bottom:10px;
        font-size:17px;
    }
    form >.input-senha:focus-visible
    {
        outline: 1px solid #36b64f;
    }
    .informacao-modal-2>form
    {
        padding-top:5px;
        padding-inline:15px;
        width:80%;
    }
/* pagina polica e privacidade */
.fund-politica
{
    margin-inline:auto;
    background: #fff;
    padding:20px;
    border-radius:5px;
    box-shadow: 0px 4px 8px 0px rgba(230, 248, 226, 0.877), 0 6px 20px 0px rgba(228, 247, 228, 0.897) ;
    width: 700px;  
    position: relative; 
    z-index:500;
    
}
.fund-politica h2
{
    color: #36b64f;
    font-weight: 600;
    font-size: 20px;
}
.fund-politica p
{
    text-align: justify;
}
.fund-politica >img
{
    position: relative;
    left: 50%;
    bottom:50%;
    transform: translate(-50%);
}
.cont-btn
{
    position:absolute;
    top:120px;
    left:20px;
    width: 32px;
    height: 32px;
    border-radius:10px;
}
.cont-btn:hover
{
    border-radius:5px;
    background:rgba(0, 0, 0, 0.2);
    transition: all 0.4s;
}
/* editando pagina carrinho */
#carrinho
{
    display: flex;
    justify-content:center;
    align-items: center;
    height:400px;
}
#carrinho > p
{
    /* background:#ffa200; */
    width:500px;
    border-radius: 3px;
    box-shadow: 0px 4px 8px 0px rgba(0,0, 0, 0.2), 0 6px 20px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
#carrinho p >  a
{
    padding: 15px 25px;
    width: 100%;
    text-align: center;
    background: #36b64f;
    color: #ffffff;
    border-radius: 3px;
    font-size: 18px;
}
#carrinho p >  a:hover
{
    opacity:0.7;
    transition:all .4s;
}
/* editando carrinho logado */
#carrinho-logado
{
    width:84%;
    margin-right:8%;
    margin-left:8%;
    margin-top:50px;
    /* background:#eca727; */
}
.car-titulo
{
    display: flex;
    align-items:center;
    border-top: 1px solid #36b64f;
    border-bottom: 1px solid #36b64f;
    gap: 10px;
}
.car-titulo >p
{
    flex:14%;
    /* background: #ffa200; */
    text-align: center;
    font-size: 20px;
    color: #36b64f;
}
.car-produto
{
    display: flex;
    align-items:center;
    gap:10px;
}
.car-produto >p
{
    margin:10px 0px;
    flex:14%;
    text-align: center;
}
.car-produto p:nth-child(2) img
{
    width:60px;
    height:60px;
}
.car-total
{
    text-align: right;
    margin-right:5px;
    font-size: 20px;
}
#cor-preco
{
    color: #36b64f;
    font-weight: 500;

}
.car-botao
{
    width:15%;
    padding: 10px 15px;
    background: #36b64f;
    margin:10px  auto;
    border-radius: 5px;
}
.car-botao >a
{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.car-botao:hover
{
    opacity: 0.7;
    transition: opacity .4s;
}
/* editando finalizar */
.main-finaliza
{
    min-height:150vh;
    background: #f6fff1fa;
    display:flex;
    align-items:center;
    justify-content:center;
}
.voltar
{
    width:32px;
    height:32px;
    position:relative;
    text-align: center;
    z-index:600;
    left:20px;
    top:120px;
    border-radius:10px;
}
.voltar:hover
{   
    border-radius:5px;
    background-color:rgba(0, 0, 0, 0.2);
    transition: all 0.4s;
}
.main-finaliza .Finaliza-pag
{
    background: #ffffff;
    width:50%;
    border-radius:3px;
    /* height:30rem; */
    display:flex;
    gap:50px;
}

.card-finlaiza
{
    padding: 10px 10px 5px 15px ;
    /* border: 1px solid #36b64f; */
    flex:50%;
}
.card-finlaiza>form .input-finaliza
{
    border: 1px solid #e3f7d8fa;
    width: 100%;
    outline: none;
    height: 47px;
    background: #f6fff1bd;
    border-radius: 5px;
}
.card-finlaiza>form .input-finaliza:focus-visible
{
    border: 1px solid #36b64f;
    transition: all .4s;
}
.card-finlaiza>form p
{
    margin-bottom: 5px;
}
.card-finliza2
{
    padding: 10px 10px 5px 15px ;
    flex: 50%;
    /* border: 1px solid #36b64f; */
}
.card-finliza2>.alinhar-preco
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ecf3e8fa;
}
.card-finliza2 .alinhar-preco p >img
{
    height:40px;
    width: 40px;
}
#imetodop
{
    border: 1px solid #e3f7d8fa;
    width: 100%;
    outline: none;
    height: 47px;
    background: #f6fff1bd;
    border-radius: 5px;
}
#btn-encomenda
{
    display: block;
    width: 100%;
    padding:13px 20px;
    border-radius:3px;
    color: #ffffff;
    border: none;
    outline:none;
    background:#36b64f;
    margin-top:20px;
}
#btn-encomenda:hover
{
    background: #fff;
    outline: 1px solid #36b64f;
    color: #36b64f;
    transition: all .4s;
}
#sair
{
    background: #36b64f;
    padding:10px 20px;
    color: #ffffff;
    width:100%;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top:20px;
    border-radius: 3px;
}
#sair:hover
{
    background: #fff;
    outline: 1px solid #36b64f;
    color: #36b64f;
    transition: all .4s;
}
/* fazer reserva */
.fazer-reser
{
    display: flex;
    align-items: center;
    background:#36b64f;
    border-radius:10px;
    width:650px;
    margin:0px auto;
}
.dest-reserva
{
    padding:5px 10px ;
    flex:50%;
    display:flex;
    align-items:center;
    flex-direction:column;
}
.img-reserva
{
    background: #fff;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:55%;
    width:40%;
    padding:8px;
}
.text-reserva >p
{
    color: #fff;
    font-size:15px;
    text-align: center;
    /* background: #fff; */
}
.cont-serv-reserva
{
    display: flex;
    align-items: center;
    gap:10px;
    /* background: #fff; */
}
.serv-reserva
{
    height:180px;
    display:flex;
    align-items:center;
    flex-direction:column;
    background:#fff;
    border-radius:5px 0px;
    width:90px;
}
.serv-reserva img
{
    border-radius: 5px 0px 0px;
    width:100%;
    height:90px;
}
.serv-reserva> h6
{
    text-align: center;
    font-size: 13px;
    color: #36b64f;
    font-weight:700;
    padding-inline: 5px;
    margin:2px 0px;
}
.serv-reserva> p
{
    color: #36b64f;
    font-size: 13px;
    margin:2px 0px;
}
.sess-input-1
{
    border-radius:0px 10px 10px 0px;
    height:100%;
    flex:50%;
    background: #fff;
    padding:5px 10px;
}
.sess-input-1 form >input
{
    border:1px solid #e3f7d8fa;
    width:100%;
    outline:none;
    height:45px;
    background:#f6fff1bd;
    border-radius:5px;
    margin-bottom:5px;
    padding-left:10px;
}
.sess-input-1 form >p
{
    color: #36b64f;
    padding:0;
    margin:5px 0;
}
.sess-input-1>form .input:focus-visible
{
    border: 1px solid #36b64f;
    transition: all .4s;
}
/* editando rodape */
footer
{
    height:50px;
    border-top: 2px solid #36b64f;
    display:flex;
    justify-content:center;
    margin-top:0px;
    background:#ffffff;
    padding-top:15px;
}
footer div
{
    color: #36b64f;
    font-size:15px;
    font-weight:600;
}