@import "./headerFooter.css";
@import "./animacão.css";
/* editando a pagina cadastro e login */

.wrapper-sign-up-login{
  display:grid;
  min-height:100vh;
  place-content:center;
  padding-top: 2rem;
  margin:0;
}
.card-sign-up-login{
  text-align:start;
  margin-top:0px;
  margin-bottom:10rem;
  padding:5rem 4.5rem;
  width: min(95vw, 500px);
  border-radius:10px;
  background: #ffffff;
  box-shadow: 0px 4px 8px 0px rgba(230, 248, 226, 0.877),
    0 6px 20px 0px rgba(228, 247, 228, 0.897);
}
.card-sign-up-login >h2{
  line-height: 3.5rem;
}
.card-sign-up-login > h3{
  font-weight:400;
  font-size:1.6rem;
}
.card-sign-up-login .form {
  display: grid;
  grid-template-columns:1fr;
  row-gap:1.5rem;
  text-align:left;
  margin-top:2rem;
}
.warn-login {
  display:flex;
  align-items: center;
  gap:1.5rem;
  padding:1rem .5rem;
  color: #ff0009;
  border-radius: 0.3rem;
  background-color: #ff00084f;
}
.hide-warn{
	display: none;
}
.form> p {
  font-size:1.4rem;
}
.form div > .input {
  display:block;
  width:100%;
  font-size:1.6rem;
  background:rgb(255, 252, 252);
  padding:1.4rem;
  margin-top:.4rem;
  border:0.1rem solid rgb(238, 230, 230);
  border-radius: 0.5rem;
  outline:none;
}

.form .input:focus-visible {
  border: 0.1rem solid #36b64f;
  transition: all 0.5s;
}
.form >p:last-child{
  text-align:center;
}
.form > p > a{
  color: #36b64f;
}

#btn-access {
  text-align: center;
  font-size: 17px;
  border: none;
  outline: none;
  background: #36b64f;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 1.2rem;
}
#btn-access:hover {
  background-color:#36b650c8;
  transition: all 0.5s;
}
.loader{
  display:none;
  animation:loader 0.9s infinite forwards;
}
.show {
  display:block;
}
form div{
  position:relative;
}
.eye {
  position:absolute;
  right:1.2rem;
  top:3.5rem;
  cursor:pointer;
  max-width:2.5rem;
}

.form > div.error .input {
  border-color: #e74c3c;
}
.form > div.sucess .input {
  border-color: #2ecc71;
}

.form div small {
  color: #e74c3c;
  display: flex;
  display: none;
  transition: 0.4s;
}
.form div.sucess small {
  display: none;
}
.form div.error small {
  display: block;
}
