@import "./headerFooter.css";
@import "./animacão.css";
@import"./responsive.css";
/* editando a pagina de produtos */
#wrapper-loja{
	margin:0;
	min-height:100vh;
	display:grid;
	grid-template-areas:
	"aside product"
	"aside product"
	"aside nav";
	grid-template-columns:30rem 1fr;
	grid-template-rows:1fr 1fr 20rem ;
	column-gap:1rem;
	background: #fff;
}
#sidebar-loja{
	/* border: .1rem solid green; */
	grid-area:aside;
	padding:1.6rem;
}
#sidebar-loja>div:not(:last-child){
	border-bottom:.1rem solid #e1e1e1;
	padding-bottom:2rem;
}
.flex-div{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flex-div h4{
	margin-block:.6rem;
}
.flex-div .arrow{
	width:2rem;
	cursor: pointer;
	transition:all .2s;
}

.list-category ul{
	list-style:none;
}
.list-category ul>li{
	margin-bottom:.5rem;
	font-size: 1.8rem;
}
.list-category ul>li a.ativo{
	color:#76df8b;
}
.content-filter p{
	font-size: 1.2rem;
}
.list-size
{
	/* border: 1px solid red; */
	display:inline-flex;
	gap: 1rem;
}

.list-size a{
	border:.1rem solid #f4f4f4;
	padding:1rem 1.2rem;
	background: #faf8f8;
}
input[type="checkbox"]{
	margin:0 .5rem .5rem 0;
	width:1.6rem;
	height:1.6rem;
}
.check-mark label{
	font-size:1.8rem;
} 
.star{
	color:#ff4500;
	font-size:2.5rem;
}
.star-color{
	color:#c1c1c1;
}
.hide{
	display: none;
	transform:translateY(-50px);
	transition:.4s;
}
#products{
	border: .1rem solid #f4f4f4;
	grid-area:product;
	height:60rem;
	overflow:hidden;
}
#products article{
	width:100%;
	height:100%;
	display:none;
	/* border:.1rem solid red; */
}
#products article.active{
	display:block;
}
.contents-product{
	width:100%;
	height:100%;
	display:grid;
	grid-template-columns:repeat(5, 1fr);
	row-gap:3.5rem;
	overflow-y:auto;
	padding-bottom:1rem;
	padding-left:1rem;
	padding-top: 1rem;
}
.contents-product::-webkit-scrollbar{
	background-color:transparent;
	border-radius:3rem;
	width:8px;
}
.contents-product::-webkit-scrollbar-thumb{
	background-color:#36b64f;
	border-radius:50px;
}
.card {
	position: relative;
	display: grid;
	border-radius: 0.2em;
	width:180px;
	padding: 0.5em;
	box-shadow: 0.1em 0.1em 0.4em #c5cfef, 0.1em 0.1em 0.1em #c5cfef;
	align-self:baseline;
	justify-self: center;
}
.percentage{
	background: #76df8b;
	position: absolute;
	top: 0.2em;
	right: 0.2em;
	padding: 0 0.4em 0.1em;
	display:flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 0.8em;
	border-radius: 0.3em;
}
.text-riscado{
	color: #b7b7b7;
	font-size:1rem;
	position:absolute;
	top:72%;
	right:1rem;
	transform: translateY(-50%);
}

.cont-img {
	border: 1px solid #e1e1e1;
	width: 100%;
	height: 160px;
	border-radius: 0.3em;
	background: #f6fff1fa;
	margin: 0 auto;
	cursor: pointer;
	position: relative;
}
.cont-img img {
	max-width: 100%;
	height: 100%;
}
.card h3 {
	font-size: 1.5rem;
	margin: 0;
}
.card del {
	font-size:1.2rem;
}
.card p{
	font-weight: bold;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.card .content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card .add-cart {
	border: none;
	outline: none;
	background: transparent;
	color: #fff;
	border-radius: 0.3em;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
#nav-footer{
	/* border:.1rem solid red; */
	grid-area:nav;
	display:grid;
	place-content:center;
}
.nav-list button{
	background: #67db7e;
	width:5rem;
	height:5rem;
	margin-right:1rem;
	border-radius:50%;
	font-size:1.6rem;
	color:#fff;
	text-align:center;
	line-height:5rem;
}
.nav-list button:first-child{
	background:#e1e1e1;
}

/* Edit to pag infomations the products */
.bag-quemal {
	display: flex;
	align-items: center;
	justify-content: center;
}

.setion-descr-principal {
	width: 60%;
	height: 400px;
	margin-top: 50px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 90px;
}

.setion-imag {
	display: flex;
	flex-direction: column;
	gap: 15px;
	flex: 40%;
}

.img-descr {
	height: 300px;
	background: #67db7e;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-descr>img {
	width: 250px;
	height: 250px;
}

.img-pequena {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	height: 70px;
	border-radius: 10px;
}

.img-pequena>.peq-img-2 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 65px;
	border-radius: 5px;
	background: #c1c1c1;
	height: 100%;
}

.img-pequena>.peq-img-2:first-child {
	outline: 2px solid #67db7e;
	background: #e1e1e1;
	opacity: 0.75;
}

.img-pequena>.peq-img-2:hover {
	outline: 2px solid #67db7e;
	background: #e1e1e1;
	opacity: 0.75;
	cursor: pointer;
}

/* parte da descrição */
.setion-descr {
	flex: 60%;
}

.setion-descr>h4 {
	margin: 0px;
	color: #36b64f;
	font-weight: 600;
}

.setion-descr>h2 {
	font-size: 30px;
	margin: 0px;
}

.setion-descr>p {
	font-size: 14px;
	margin-top: 20px;
	text-align: justify;
}

.preco-descr {
	position: relative;
	width: 160px;
}

.preco-descr>h3 {
	margin: 0px;
	font-size: 28px;
	font-weight: 600;
}

.valor-percentual {
	position: absolute;
	top: 9px;
	right: 10px;
	font-weight: 500;
	font-size: 16px;
	padding-inline: 6px;
	padding-block: 1px;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background: #36b64f;
}

.preco-descr>.prec-riscado {
	font-weight: 500;
	font-size: 15px;
	color: #cccccc;
	text-decoration: line-through;
	margin: 0px;
}

.input-adicionar {
	margin-top: 10px;
	display: flex;
	align-items: center;
	gap: 40px;
}

.btn-ad-descr {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 8px 40px;
	background: #36b64f;
	color: #fff;
	border-radius: 5px;
}

.input-adicionar>#iquant {
	outline: none;
	border: none;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	background: #a19a9a86;
	width: 18%;
	color: #000;
}

#iquant:focus-visible {
	outline: 2px solid #36b64f;
}