/* editando pagina contacto */
.fundo-cont
{
    min-height:700px;
    /* background:#ffa200; */
    position: relative;
}
.fund-1
{
    background:#e3f7d8fa;
    padding-left:30px;
    padding-top:180px;
    padding-bottom:50px;
}
.fund-1 >h5
{
    font-size:23px;
    font-weight:500;
    padding:0px;
    margin:0px;
}
.fund-1 >h4
{
    font-weight: 700;
    font-size: 30px;
    padding:0px;
    margin:0px;
}
.fund-2
{
    background: #ffffff;
    height: 360px;
}
.fund-card-1
{
    /* background: #67db7e; */
    display:flex;
    align-items: center;
    gap:16.2rem;
    margin-left:30px;
}
.fund-card-2
{
    margin-top: 50px;
    margin-left:30px;
    /* background:#ffa200; */
    display:flex;
    align-items: center;
    gap:20.7rem;
}
.card-cont
{
    /* background: #ffffff; */
    display: flex;
    align-items:center;
    justify-content:center;
    gap:10px;
}
.card-cont div
{
    margin-top:10px;
}
.card-cont h3
{
    margin-bottom:5px;
}
.card-input
{
    background:#ffffff;
    padding:50px;
    position: absolute;
    top:50px;
    right:50px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(230, 248, 226, 0.877), 0 6px 20px 0px rgba(228, 247, 228, 0.897) ;
}
.card-input p
{
    margin-bottom:5px;
    color: black;
}
form .input
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:100%;
    font-size:16px;
    padding:10px 0px 15px 0px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(238, 230, 230);
}
form .input:focus-visible
{
    border-bottom: 1px solid #36b64f;
    transition: all .5s;
}
#bt-cont
{
    margin-top:20px;
    font-size: 16px;
    background:#36b64f;
    padding: 15px 20px;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
}
#bt-cont:hover
{
    color: #36b64f;
    outline: 1px solid #36b64f;
    background: #fff;
    transition: all 1s;
    cursor: pointer;
}
