@import "./headerFooter.css";
@import "./animacão.css";
/* Editando a pagina do perfil */
#wrapper-modal{
	background-color: rgba(0,0,0,0.1);
	position:fixed;
	width:100%;
	inset:0;
	z-index: 999;
	display:none;
}
.modal{
position: relative;
	background-color: #F3F4F6;
	max-width:90rem;
	width:100%;
	padding:4.8rem 6.4rem;
	border-radius:.8rem;
	justify-self:center;
	align-self:center;
}
.modal > .btn-close{
	position: absolute;
	top:2rem;
	right:2rem;
	font-size: 2rem;
	color:#f30000;
	font-weight: 500;
}
.modal > .container-description{
	display:flex;
	align-items:center;
	/* flex-wrap:wrap; */
	gap: 1rem;
}
.wrapper-profile
{
	display:grid;
	grid-template-columns:28rem 1fr;
	grid-template-rows:48rem;
	max-height:100vh;
	background: #fff;
	column-gap:1.6rem;
	padding:1rem 1.6rem 4rem 1rem;
}
.navbar-profile{
	border:.1rem solid #e1e1e1;
	background: #fff;
	padding:1.6rem;
	border-radius:1rem;
	display: flex;
	flex-direction:column;
	gap: 1rem;
}
.navbar-profile i{
	font-size:2.5rem;
}
.title-navbar{
	display:flex;
	align-items:center;
	justify-content: center;
	gap:1.6rem;
	padding:2rem;
	background-color: #e1e1e1;
	border-radius:.8rem;
	/* border: .1rem solid red; */
}
.list-navbar{
	flex: 1;
	list-style:none;
}
.list-navbar li> button{
	font-size:1.6rem;
	color:rgba(0,0,0,0.8);
	padding: 1.6rem;
	border-radius:.8rem;
	width: 100%;
	transition: background .3s ease-in;
}
.list-navbar li> button
{
	margin-top:1.6rem;
}
.list-navbar li> button:hover{
	background: #F3F4F6;
}
.list-navbar li> button.activo{
	background: #67db7e;
	box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.1);
	color: #F9FAFB;
}
.flex-div{
	display: flex;
	align-items: center;
	gap:.5rem;
}
#logout-content{
	flex-shrink: 0;
}
#logout-content> button{
	background: #67db7e;
	color: #fff;
	width: 100%;
	padding:1.6rem;
	display:flex;
	align-items: center;
	justify-content: center;
	gap:1rem ;
	border-radius:.8rem;
	font-size:1.7rem;
	font-weight: 600;
}
.zone-content{
	border:.1rem solid #e1e1e1;
	border-radius:1rem;
	height:100%;
	overflow-y:hidden;
}
.content{
	max-width:100%;
	height:100%;
	padding:1.5rem;
	display: none;
	overflow-y:auto;
}
.content.show{
	display: block;
	background:#F9FAFB;
}



/* section the profile-user date People */
.container-profile-date{
	margin-top: 1rem;

	display: flex;
	flex-wrap: wrap;
	gap:2rem;
}
.content-profile-user{
	background-color: #fff;
	max-width:25rem;
	height:12rem;
	width: 100%;
	border-radius: .5rem;
	box-shadow: 0 0 0 .1rem rgba(0,0,0,0.1);

	padding-left: 2rem;

	display: flex;
	align-items: center;
	
}
.user-profile{
	background-color: #e1e1e1;
	padding:2.5rem;
	border-radius: .8rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.user-profile i{
	font-size:3.5rem;
}
.content-date-people{
	background-color: #fff;
	max-width:72rem;
	width:100%;
	border-radius: .5rem;
	box-shadow: 0 0 0 .1rem rgba(0,0,0,0.1);

	padding: 1rem;
}
fieldset{
	border:none;
}
fieldset legend{
	font-size:2rem;
	line-height:2.6rem;
	font-weight: 600;
	padding-bottom: 1rem;
}
.container-fieldset{
	display: flex;
	flex-direction:column;
	gap:1rem;
}
.wrapper-inputs{
	display: grid;
	grid-template-columns:2fr 2fr;
	grid-template-rows: 1fr;
	gap:1.6rem;

}
.input-wrapper input,
.genere,
.bio{
	display: block;
	width: 100%;
	border-radius:.8rem;
	border:.1rem solid #bcbcbc;
	outline:0;
	padding:1.6rem;
	background-color: #F3F4F6;
}
.input-wrapper input:focus,
.genere:focus,
.bio:focus{
	border: .2rem solid #67db7e;
}
.input-wrapper label{
	color: #5b5959;
	display: block;
	margin-bottom: 1rem;
}
.bio{
	padding:1rem;
	height:10rem;
}
.icone-wrapper{
	position: relative;
}
.icone-wrapper i{
	position: absolute;
	top:50%;
	right:1rem;
	transform: translateY(50%);
}
.btn{
	background: #67db7e;
	max-width:20rem;
	width: 100%;
	color: #fff;
	font-size:1.6rem;
	border-radius:.5rem;
	padding:1.6rem 0;
	margin-top:2rem;
	transition: background .3s ease;
}
.btn:hover{
	border: .1rem solid #67db7e;
	background: #fff;
	color:#67db7e;
}
.wrapper-data-private{
	margin-top:1rem;
	padding-top: 2rem;
	border-top: .1rem solid #bcbcbc;
}
.hide{
	display: none;
}
.input-wrapper small{
	color: #e74c3c;
	display:none;
	padding-top:.5rem;
}
.input-wrapper.error input{
	border-color: #e74c3c;
}
.input-wrapper.sucess input{
	border-color:#2ecc71;
}
.input-wrapper.error small
{
	display:block;
}
.input-wrapper.sucess small
{
	display:none;
}

/* section the profile-user shopping datas */
.container-shopping-user{
	background-color: #fff;
	max-width:100%;
	margin-top: 1rem;

	border-radius: .5rem;
	box-shadow: 0 0 0 .1rem rgba(0,0,0,0.1);
	padding:1.6rem 2rem;
	
	display: flex;
	flex-direction:column-reverse;
	gap:1.6rem;
}
.separator-shoppings{
	background: #F3F4F6;
	padding:.5rem 1.6rem;
	border-radius: .3rem;
	font-size: 1.4rem;
	color: #111111;
	text-align: end;
}
.separator-shoppings p:last-child{
	font-weight:600;
}

.item-shopping{
	display:grid;
	grid-template-columns: 2fr repeat(4,1fr);
	align-items:center;
	column-gap: 1.6rem;

}
.content-item-img{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap:2rem;
}
.content-item-img img{
	max-width:5rem;
	max-height:5rem;
	border-radius:50%;
	border: .1rem solid #F3F4F6;
}
.content-item-img .info-product{
	display: flex;
	flex-direction:column;
	gap:.2rem;
	font-size: 1.4rem;
}
.info-product >span:last-child{
	color:#9b9797;
}
.info-product >span:first-child{
	font-weight: bold;
}
.item-shopping >p{
	padding:1.4rem;
	font-size: 1.4rem;
	text-align: center;
}
.item-shopping .price-item{
	font-weight: bold;
}
.item-shopping .payment, 
.item-shopping .status{
	background-color: #F9FAFB;
	border-radius:.8rem;
}
.item-shopping .payment{
	color:#67db7e;
}
.item-shopping .status{
	color:#f30000;
}


/* section progile-suer pedidos serviços */
.container-reserve-user{
	background-color: #fff;
	max-width:100%;
	margin-top: 1rem;

	border-radius: .5rem;
	box-shadow: 0 0 0 .1rem rgba(0,0,0,0.1);
}
table{
	border-collapse:collapse;
	text-align:center;
	width:100%;
}
thead{
	border-bottom:1px solid #dddddd;
}
th,td{
	padding:1.6rem 1rem;
}
td .td-pay{
	color:#67db7e;
}
td .td-status{
	color:#f30000;
	padding:.6rem;
	border:1px solid #f30000;
	border-radius:3rem;
}
.content-td-action .countdown-profile{
	background-color: #e74c3c;
	color: #fff;
	border-radius:.8rem;
	padding:.6rem;
}

.content-td-action {
	display:flex;
	align-items:center;
	justify-content:center;
	gap:1rem;
	flex-direction: row-reverse;
	position: relative;
}

.content-td-action .btn-action-main
{
	font-size:1.8rem;
	letter-spacing:3px;
	color:#111111;
	cursor: pointer;
}
.content-td-action .content-actions-btn{
	padding:0;
	display:none;
	position:absolute;
	bottom:-2rem;
	right:0;
	box-shadow:0 0 2px #bcbcbc;
	border-radius:.8rem;
	background-color: #F9FAFB;
	flex-direction:column;
	width: fit-content;
	text-align:start;
	gap:.3rem;
}
.content-actions-btn> button{
	text-align: start;
	font-size: 1.4rem;
	padding:.8rem;
	background-color: #F9FAFB;
	border-radius:.8rem;
}
.content-actions-btn> button:hover{
	background:#e1e1e1;
	transition: background .2s ease-in;
}
td .btn-action-main:hover .content-actions-btn{
	display: flex;
	animation:fadeIn .2s forwards;
}
/* section profile-user analists e reportios */
.container-analytics-user{
	background-color: #fff;
	max-width:100%;
	margin-top: 1rem;

	border-radius: .5rem;
	box-shadow: 0 0 0 .1rem rgba(0,0,0,0.1);
	padding: 1rem;
}