
/* smatfones(767px para baixo) */
@media only screen and (max-width:767px){
  #wrapper .sess1 p {
    background-color: #FFFFFF;
    padding:1rem;
    border-radius:1rem;
  }

  #ofert-day{
    grid-template-columns:repeat(3,1fr);
    gap:2rem;
  }

  #produt-recomed{
    grid-template-columns:repeat(3,1fr);
    gap:2rem;
  }

  #content-service{
    align-items:normal;
    justify-content:start;
    flex-wrap:wrap;
  }
}

/* para tablet */
@media only screen and (min-width:767px) and (max-width:967px){
:root{
  font-size:55%;
}
.dropdown{
  right:0rem;
}
 #ofert-day{
    grid-template-columns: repeat(4, 1fr);
    gap:2rem;
  }

  #produt-recomed {
    grid-template-columns: repeat(4, 1fr);
    gap:2rem;
  }

  #content-service{
    align-items:normal;
    justify-content:start;
  }
  
}
