@import '../root.css';

/* editando o madal do login */
.warn-data{
  display:flex;
  align-items:center;
  gap:1.5rem;
  padding:1rem;
  color: var(--fc-error);
  width:100%;
  border-radius:.3rem;
  background-color:#ff00084f;
}
.hide-warn{
  display:none;
}

#wrapper-modal-login{
  background-color:var(--bg-modal);
  backdrop-filter:blur(2px);
  display:none;
  position:fixed;
  inset: 0;
  z-index:999;
  place-items:center;
}
#wrapper-modal-login .modal{
  position:relative;
  max-width:60rem;
  width:100%;
  background-color: var(--bg-primary);
  padding:3.5rem;
  border-radius:1rem;
  box-shadow: 0 0 0 1px var(--fc-secondary);
}
#wrapper-modal-login .modal> .btn-close{
  position: absolute;
  top:1.5rem;
  right:1.5rem;
  color:var(--fc-error);
  font-size:2rem;
}
#wrapper-modal-login .modal> h2{
  margin-bottom:2.5rem;
}
#wrapper-modal-login> .modal> form{
  display:flex;
  flex-direction:column;
  gap:2rem;
}
form > .wrapper-input{
  position: relative;
}
form > .wrapper-input input{
  display:block;
  width:100%;
  padding:1.6rem;
  margin-top:1rem;
  outline:0;
  border: 1px solid var(--fc-border);
  border-radius:1rem;
}
form > .wrapper-input .eye{
  position:absolute;
  top:4.2rem;
  right:1.5rem;
  cursor: pointer;
}


form > .wrapper-input.error input{
  border-color:var(--fc-error);
}
form > .wrapper-input.error small{
  display: block;
  color: var(--fc-error);
}
form > .wrapper-input small{
  display:none;
}
form > .wrapper-input input{
  border-color:var(--bg-secondary);
}

form> .wrapper-info-additionals
{
  display: flex;
  align-items:center;
  justify-content:space-between;
  padding: 1rem 0;
}
.wrapper-info-additionals> .wrapper-remember-data{
  display: flex;
  align-items:center;
  gap:1rem;
}
.wrapper-info-additionals> .wrapper-remember-data> #remember-data{
  width:1.6rem;
  height:1.6rem;
}
form> .btn-enter{
  width: fit-content;
  background-color: var(--bg-secondary);
  border-radius: .8rem;
  padding:1.6rem 2.5rem;
}
form > .wrapper-info-additionals> a {
  color: var(--bg-secondary);
}
.open-modal{
  display:grid !important;
}

/* editando o body da dashboard */
body{
  max-height:100vh;
  padding:1rem 3rem 1rem 1rem;
  font-size:var(--fs-body);
  font-family: var(--ff-text);
  color: var(--fc-primary);
  display:grid;
  grid-template-columns:28rem 1fr;
  grid-template-rows:7rem 57rem;
  grid-template-areas:
  'aside header header'
  'aside main main';
  column-gap:3rem;
  row-gap:1rem;
}

header{
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  padding:0.5rem 1rem;
  /* border: 1px solid yellowgreen; */
  background-color: var(--bg-primary);
}
#wrapper-search{
  border: 1px solid var(--fc-border);
  border-radius:999rem;
  position: relative;
  width:clamp(3.5rem,4rem + 50vw,60rem);
  height:clamp(5rem,0.8rem + 5vw,5rem);
  overflow: hidden;
}
#wrapper-search label>img{
  width:2.2rem;
  position:absolute;
  top:50%;
  left:2.5rem;
  transform: translateY(-50%);
  cursor: pointer;
}
#wrapper-search #search{
  width:100%;
  height:100%;
  border:0;
  outline:0;
  padding:0 1rem 0 6.5rem;
  font-size:var(--fs-text);
}
#wrapper-search #search::placeholder{
  font-weight:bold;
  color:var(--fc-gray);
}
#wrapper-logo-notif{
  display:flex;
  align-items:center;
  gap: 3.5rem;
}
#wrapper-logo-notif> .wrapper-notification{
  max-width:7rem;
  /* border: 1px solid red; */
}
#wrapper-logo-notif> .wrapper-notification{
  display:block;
  position:relative;
}
#wrapper-logo-notif> .wrapper-notification::before{
  content:attr(data-count);
	background:var(--fc-error);
	position:absolute;
	font-size:1.1rem;
	color:var(--fc-secondary);
	display:flex;
	align-items:center;
	justify-content:center;
	min-width: 1.6rem;
	min-height:1.6rem;
	top:0;
	right:0;
	border-radius:50%;
}
#wrapper-logo-admin{
  display: inline-flex;
  align-items:center;
  gap:1rem;
}
#wrapper-logo-admin > .content-img-admin{
  width:clamp(1.6rem,1rem + 5vw,5rem);
  height:clamp(1.6rem,0.8rem + 5vw,5rem);
  /* border: 1px solid var(--fc-border); */
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
}
.content-img-admin img{
  height:clamp(1.6rem,2rem + 5vw,5rem);
  object-fit:cover;
}
.content-img-admin > .actiov-login{
  display: block;
  width:1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  top:0;
  right:5px;
  background-color:#00FF5B;
}
#wrapper-logo-admin > .content-info-people-admin{
  display:grid;
}
.content-info-people-admin > .name-admin{
  font-size: var(--fs-text);
  font-weight: bold;
}
.content-info-people-admin .text-break{
  display:inline-block;
	width:100%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}
.content-info-people-admin > .email-admin{
  font-size: var(--fs-text-sm);
  color: var(--fc-gray);
  cursor: pointer;
}
.content-info-people-admin > .email-admin:hover{
  color:#969696;
}
aside{
  grid-area:aside;
  background-color: var(--bg-secondary);
  border-radius:3.5rem;
  padding-bottom:1.6rem;
  overflow:hidden;
}
aside > .container-logo-main{
  margin:1rem 1rem 0;
  padding:1rem;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: var(--bg-primary);
  border-radius:3.5rem;
  cursor:pointer;
}
aside > .container-logo-main:hover{
  filter:brightness(0.89);
}
aside > .flex-column{
  display:flex;
  flex-direction:column;
  gap:1rem;
}
aside .wrapper-navigation, 
aside .wrapper-logout-settings{
  width: fit-content;
  padding-top:6.5rem;
 }

aside .btn-sidebar{
  text-align: justify;
  padding:1rem 2rem;
 }
 aside .btn-sidebar.active-sidebar{
  color: var(--bg-primary);
  font-weight: bold;
  position: relative;
  background-image: linear-gradient(90deg, #f3f4f62f 2%, transparent 99%);
 }
 aside .btn-sidebar.active-sidebar::before{
  content:'';
  position:absolute;
  border-left:.8rem solid var(--bg-primary);
  border-top-right-radius:.5rem;
  border-bottom-right-radius: .5rem;
  top:0;
  left:0;
  bottom:0;
 }
main{
  grid-area: main;
  background-color: var(--bg-primary);
  padding:0.5rem 1rem;
  /* border: 1px solid red; */
}
main >h1{
  font-size: var(--fs-h1);
}