#service{
	max-width:100%;
	overflow-y:auto;
	max-height:100%;
  position: relative;
}
::-webkit-scrollbar{
	background-color:transparent;
	border-radius:3rem;
	width:8px;
}
::-webkit-scrollbar-thumb{
	background-color:var(--bg-secondary);
	border-radius:50px;
  color:aqua;
}


/* estilizando modal */
.wrapper-modal-info{
  display:none;
  align-items: center;

  padding:2rem;
  background-color:var(--bg-primary);
  position:absolute;
  inset:0;
  z-index:3;

  animation: bounceIn 300ms ease-in forwards;

}
.wrapper-modal-info> .back-section{
  position:absolute;
  top:1rem;
  left:2rem;
  
  width:3.5rem;
  height:3.5rem;
  background-color:var(--fc-border);
  border-radius:50%;

  display:flex;
  align-items:center;
  justify-content:center;

  color: var(--fc-primary);
  font-size:var(--fs-text);
  font-weight: 600;
}

.show-info-modal{
  display:flex;
}


@keyframes bounceIn{
  0%{
    opacity: 0.2;
  }
  50%{
    opacity:0.5;
  }
  100%{
    opacity:1;
  } 
}

#service table{
  width:100%;
  border-collapse:collapse;
}
table th{
 border-bottom: 1px solid var(--fc-border);
 padding-block:1.6rem; 
}
#service table td,th{
  font-size: 1.4rem;
  text-align:center;
}

tbody td.td-user-avatar{
	display:flex;
	align-items:center;
	gap:1rem;
  padding-block:.3rem;
}
tbody td> .info-user{
	text-align:left;
}
td span{
  border-radius: 50px;
  padding:.5rem .8rem;
  background-color:var(--bg-secondary);
  color: var(--bg-primary);
}
td.status span{
  background-color:var(--bg-primary);
  color:var(--fc-error);
  border: 1px solid var(--fc-error);
}

table tbody tr{
  position: relative;
  border-bottom: 2px dotted var(--fc-border);
}

td.actions .menu-v{
  color: var(--fc-primary);
  font-weight: 700;
  /* background-color: aquamarine; */
  width:60%;
}
td.actions .dropdrow{
  display:none;
  background-color: var(--fc-border);
  border-radius:.5rem;
  padding: .5rem;
  box-shadow:0 0 3px rgba(0,0,0,0.5);

  position: absolute;
  top:.3rem;
  right:.3rem;
  z-index: 1;
}

td .dropdrow> button{
  display:flex;
  align-items:center;
  gap:.4rem;
  padding:.3rem .6rem;
  width:100%;
  color:var(--fc-primary);
  font-size: 1.4rem;
  margin-bottom: .2rem;
  border-radius:.3rem;

  transition: background .2s linear;
}
td .dropdrow> button:hover{
  background-color: var(--fc-secondary);
}
td .dropdrow button + button{
  color:var(--bg-secondary);
}

td.actions:focus-within  .dropdrow{
  display: block;
}