#users{
	max-width:100%;
	display:flex;
	flex-direction:column;
	gap:1.6rem;
	overflow-y:auto;
	max-height:100%;
}
#users::-webkit-scrollbar{
	background-color:transparent;
	border-radius:3rem;
	width:10px;
}
#users::-webkit-scrollbar-thumb{
	background-color:var(--bg-secondary);
	border-radius: 50px;
}

#users > table{
	width:100%;
	border-collapse:collapse;
	/* border:1px solid red; */
}
#users > table th{
	padding:1rem;
	border-right:1px solid var(--fc-border) ;
	line-height:2.5rem;
}
#users > table th:last-child{
	border:none;
}
#users > table td{
	border-top:1px solid var(--fc-border);
	text-align:center;
	font-weight:300;
	font-size:1.4rem;
	padding-block:.3rem;
}

tbody td.td-user-avatar{
	display:flex;
	align-items:center;
	gap:1rem;
}
tbody td> .info-user{
	text-align:left;
}
tbody td > span{
	background-color: var(--bg-modal);
	border-radius:.5rem;
	padding:.5rem .6rem;
	font-weight:500;
}
tbody td.actions{
	padding-right:1rem;
	position: relative;
}
tbody td.actions> button{
	border:1px solid  var(--fc-border);
	display:flex;
	align-items:center;
	justify-content:center;
	padding-inline:.3rem;
	border-radius:.3rem;
	background:var(--bg-modal);
	color:var(--fc-primary);
}
td.actions > .content-buttons{
	display:none;
	background:var(--bg-primary);
	box-shadow: 0 0 6px var(--bg-modal);
	border:1px solid var(--bg-modal);
	border-radius:.5rem;
	position:absolute;
	right:.5rem;
	top:3rem;
	overflow:hidden;
	z-index:1;
 }
 td.actions:focus-within td.actions > .content-buttons{
	background-color:black; 
	display:block;
 }
 td.actions > .content-buttons > button{
	width:100%;
	color:var(--fc-primary);
	font-size:var(--fs-text-s);
	line-height:2.5rem;
	text-align:justify;
	padding-inline:1rem;
	transition: background .3s , color .3s;
 }
 td.actions > .content-buttons > button + button{
	margin-top:.4rem;
 }
 td.actions > .content-buttons > button:hover{
	background-color:var(--bg-secondary);
	color: var(--bg-primary);
 }